.playlistContainer {
    margin: 10px auto;
}

/* Playlist Header */
.playlistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 75%;
}

/* Playlist Name Input Area */
.playlistNameInput {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: border-color 0.3s, box-shadow 0.3s;
    flex: 1;
    margin-right: 10px;
}

.playlistNameInput::placeholder {
    color: #aaa;
}

.playlistNameInput:focus {
    border-color: #1ed760;
    box-shadow: 0 2px 6px rgba(0, 120, 255, 0.2);
    outline: none;
}

.searchInput:focus::placeholder {
    color: transparent;
    opacity: 0;
}

/* Save to Spotify Button */
.saveButton {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    background-color: #1ED760;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.saveButton:hover {
    background-color: #1AB34D;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12);
}

.saveButton:active {
    background-color: #148A3C;
    transform: scale(0.98);
}

.saveButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 215, 96, 0.5);
}